/*----------------- Main colors*/

$riddler-green: #025804;
$riddler-bright-green: #13b000;
$riddler-lime-green: #bffa02;
$riddler-purple: #94396a;
$riddler-deeper-purple: #792d75;
$riddler-pink: #ff008b;
$riddler-blue: #236ee2;

$flash-custard-yellow: #e5ef4d;
$alert-red: #f00;
$white: #fff;
$black: #000;
$border-blue: #a8bdec;
$winner-text-blue: #2e9eff;

