.centered {
    text-align: center;
    margin: 0 auto;
}

.accentuated-links {
    color: $alert-red;
    font-size: 26px;
    
    @include large-mobile {
        font-size: 18px;
    }
}

.no-overflow {
    overflow: hidden;
}