@import url(https://fonts.googleapis.com/css?family=Roboto|Roboto+Condensed);
.riddle-area, .results-box {
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75); }

.riddle-number {
  -webkit-box-shadow: 0px 10px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 10px 5px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 10px 5px 0px rgba(0, 0, 0, 0.75); }

.main-nav {
  -webkit-box-shadow: inset 0px -4px 30px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: inset 0px -4px 30px 0px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0px -4px 30px 0px rgba(0, 0, 0, 0.2); }

.page-header, .introduction, .congrats-container {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; }

.log-out-container,
.account,
.sign-up,
.log-in {
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto; }

/*----------------- Main colors*/
/* --- Widths */
.centered {
  text-align: center;
  margin: 0 auto; }

.accentuated-links {
  color: #f00;
  font-size: 26px; }
  @media (max-width: 500px) {
    .accentuated-links {
      font-size: 18px; } }

.no-overflow {
  overflow: hidden; }

button:focus {
  outline: 0; }

.results-box-button {
  display: block;
  clear: both;
  margin: 20px auto; }

.riddle-link-btn {
  width: 225px;
  padding: 20px;
  border-radius: 50px;
  font-size: 20px;
  background-color: #792d75;
  margin: 20px;
  color: #fff; }
  @media (max-width: 500px) {
    .riddle-link-btn {
      width: 168px;
      padding: 14px;
      font-size: 16px; } }

.riddle-link-btn a {
  color: #fff; }

.color-change-and-shrink {
  animation: shrink 5s 1, color-change 30s 1; }

.grow {
  transform: scale(1);
  transition-property: transform;
  transition-duration: 1s; }

.grow:hover {
  transform: scale(1.15); }

.fade-in {
  animation-name: fade-in;
  animation-duration: 10s;
  animation-delay: 5s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards; }

.fade-out {
  animation-name: fade-out;
  animation-duration: 1s;
  animation-delay: 5s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards; }

@keyframes color-change {
  0% {
    color: #fff; }
  10% {
    color: #ff008b; }
  20% {
    color: #fff; }
  30% {
    color: #ff008b; }
  40% {
    color: #fff; }
  50% {
    color: #ff008b; }
  60% {
    color: #fff; }
  70% {
    color: #ff008b; }
  80% {
    color: #fff; }
  90% {
    color: #ff008b; }
  100% {
    color: #fff; } }
@keyframes shrink {
  0% {
    transform: scale(2); }
  100% {
    transform: scale(1); } }
@keyframes fade-in {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@keyframes fade-out {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }
.main-nav {
  width: 100%;
  min-width: 1238px;
  min-height: 90px;
  background-color: #94396a;
  position: fixed;
  top: 0;
  z-index: 100; }
  @media (max-width: 1024px) {
    .main-nav {
      min-width: 1024px; } }
  @media (max-width: 768px) {
    .main-nav {
      min-height: 75px;
      min-width: 310px; } }

.riddler-mark-logo-1,
.riddler-mark-logo-2,
.nav-title {
  clear: none;
  margin: 0;
  float: left;
  padding: 30px 10px;
  color: #fff;
  text-shadow: 5px 5px #000; }

@media (max-width: 1024px) {
  .nav-title {
    font-size: 20px;
    padding: 33px 2px; } }
@media (max-width: 768px) {
  .nav-title {
    font-size: 26px;
    padding: 24px 0px; } }
@media (max-width: 500px) {
  .nav-title {
    font-size: 20px; } }

.riddler-mark-logo-1,
.riddler-mark-logo-2 {
  width: 20px;
  padding: 28px 30px 19px; }
  @media (max-width: 1024px) {
    .riddler-mark-logo-1,
    .riddler-mark-logo-2 {
      padding: 28px 20px 0; } }

@media (max-width: 768px) {
  .riddler-mark-logo-1 {
    width: 24px;
    margin: 16px 22px;
    padding: 0; } }
@media (max-width: 500px) {
  .riddler-mark-logo-1 {
    width: 22px; } }

@media (max-width: 768px) {
  .riddler-mark-logo-2 {
    display: none; } }

.fa-chevron-circle-down {
  display: none; }
  @media (max-width: 768px) {
    .fa-chevron-circle-down {
      transition-property: color;
      transition-duration: 1s;
      display: block;
      float: right;
      font-size: 30px;
      margin: 25px;
      color: #fff; } }
  @media (max-width: 500px) {
    .fa-chevron-circle-down {
      font-size: 18px;
      padding: 3px 0 0; } }

ul {
  float: right;
  margin: 0;
  list-style: none;
  padding: 0; }
  @media (max-width: 768px) {
    ul {
      float: none;
      width: 100%;
      clear: both;
      display: none; } }

nav ul li {
  float: left;
  padding: 35px 15px;
  margin: 0 10px;
  text-decoration: none;
  color: #fff; }
  @media (max-width: 1024px) {
    nav ul li {
      font-size: 14px;
      padding: 36px 8px; } }
  @media (max-width: 768px) {
    nav ul li {
      font-size: 20px;
      float: none;
      padding: 23px 0;
      margin: 0;
      border-top: 1px solid #a8bdec; } }
  @media (max-width: 500px) {
    nav ul li {
      font-size: 15px; } }

@media (max-width: 768px) {
  nav ul li:nth-of-type(odd) {
    background-color: #025804; } }

@media (max-width: 768px) {
  li i {
    margin: 0 40px; } }

li a {
  text-decoration: none;
  color: #fff; }
  @media (max-width: 768px) {
    li a {
      margin: 0 0 0 40px; } }
  @media (max-width: 500px) {
    li a {
      margin: 0 0 0 10px; } }

.test {
  color: #bffa02; }

footer {
  background-color: #94396a;
  margin: 0;
  padding: 10px 0;
  color: #fff; }

.page-header {
  background-image: url("../images/riddler-mask.jpg");
  min-height: 720px;
  margin: 75px 0 0; }
  @media (max-width: 1024px) {
    .page-header {
      min-height: 1000px; } }
  @media (max-width: 768px) {
    .page-header {
      min-height: 766px; } }
  @media (max-width: 500px) {
    .page-header {
      min-height: 458px; } }
  @media (max-width: 320px) {
    .page-header {
      min-height: 410px; } }

.welcome-h2 {
  color: #fff;
  position: relative;
  top: 10vh;
  font-size: 50px;
  letter-spacing: 8px;
  text-shadow: 6px 6px #000;
  margin: 0; }
  @media (max-width: 1024px) {
    .welcome-h2 {
      font-size: 60px;
      margin: 0 auto;
      max-width: 650px; } }
  @media (max-width: 768px) {
    .welcome-h2 {
      font-size: 50px;
      margin: 0 140px; } }
  @media (max-width: 500px) {
    .welcome-h2 {
      margin: 0 30px;
      font-size: 30px;
      letter-spacing: 4px; } }
  @media (max-width: 320px) {
    .welcome-h2 {
      margin: 0; } }

.welcome-text {
  max-width: 442px;
  position: relative;
  top: 14vh;
  left: 55vw; }
  @media (max-width: 1024px) {
    .welcome-text {
      left: 48vw;
      top: 18vh; } }
  @media (max-width: 768px) {
    .welcome-text {
      left: 38vw; } }
  @media (max-width: 500px) {
    .welcome-text {
      position: static;
      margin-left: 34%;
      max-width: 216px;
      padding-top: 60px; } }
  @media (max-width: 320px) {
    .welcome-text {
      margin-left: 84px; } }

.introduction {
  background-image: url("../images/riddler.jpg");
  min-height: 750px; }
  @media (max-width: 1024px) {
    .introduction {
      min-height: 900px; } }
  @media (max-width: 500px) {
    .introduction {
      background-position: 52%;
      min-height: 500px; } }
  @media (max-width: 320px) {
    .introduction {
      background-position: 48%; } }

.form-container {
  position: relative;
  top: 22vh;
  left: 25vw;
  color: #fff;
  max-width: 800px; }
  @media (max-width: 1024px) {
    .form-container {
      left: 14vw; } }
  @media (max-width: 768px) {
    .form-container {
      margin: 75px 70px 0;
      padding-top: 40px;
      position: static; } }
  @media (max-width: 500px) {
    .form-container {
      margin: 75px 20px 0; } }

@media (max-width: 1024px) {
  li input {
    font-size: 20px;
    padding: 4px 16px; } }

.sign-up-para,
.login-para {
  font-size: 16px;
  padding: 0; }
  @media (max-width: 768px) {
    .sign-up-para,
    .login-para {
      font-size: 20px;
      padding: 6px; } }

.log-out-container,
.account,
.sign-up,
.log-in {
  min-height: 850px;
  background-image: url("../images/riddler-right.jpg");
  background-color: #13b000; }
  @media (max-width: 1024px) {
    .log-out-container,
    .account,
    .sign-up,
    .log-in {
      min-height: 1300px; } }
  @media (max-width: 768px) {
    .log-out-container,
    .account,
    .sign-up,
    .log-in {
      background-size: contain;
      background-position: bottom;
      min-height: 930px; } }
  @media (max-width: 500px) {
    .log-out-container,
    .account,
    .sign-up,
    .log-in {
      min-height: 675px; } }
  @media (max-width: 320px) {
    .log-out-container,
    .account,
    .sign-up,
    .log-in {
      min-height: 655px; } }

.login-form {
  margin: 200px 0 0; }
  @media (max-width: 500px) {
    .login-form {
      margin: 50px 0 0; } }

@media (max-width: 768px) {
  .login-row {
    display: block;
    margin: 15px 0; } }

.sign-up-form {
  margin: 90px 0 0; }
  @media (max-width: 500px) {
    .sign-up-form {
      margin: 50px 0 0; } }

.login-form label {
  display: inline-block;
  min-width: 100px;
  margin: 0 0 15px; }

.account-form-list,
.sign-up-form-list {
  padding: 0;
  margin: 0;
  float: none; }
  @media (max-width: 768px) {
    .account-form-list,
    .sign-up-form-list {
      display: block; } }

.sign-up-form-list li {
  padding: 0 0 20px 0; }

.sign-up-form-list li:nth-of-type(1) label {
  margin: 0 50px 0 0; }

.sign-up-form-list li:nth-of-type(2) label {
  margin: 0 80px 0 0; }

.sign-up-form-list li:nth-of-type(3) label {
  margin: 0 20px 0 0; }

.leaderboard-header {
  font-size: 60px;
  letter-spacing: 70px;
  text-indent: 70px;
  padding: 110px 0 30px; }
  @media (max-width: 1024px) {
    .leaderboard-header {
      font-size: 40px;
      letter-spacing: 32px;
      text-indent: 32px; } }
  @media (max-width: 500px) {
    .leaderboard-header {
      font-size: 26px;
      letter-spacing: 6px;
      text-indent: 6px; } }

.leaderboard {
  position: relative;
  top: 10vh;
  left: 10vw;
  background-color: #fff;
  padding: 30px;
  border-radius: 15px;
  min-height: 300px;
  min-width: 500px;
  margin: 0; }
  @media (max-width: 1024px) {
    .leaderboard {
      top: 18vh;
      left: 7vw;
      font-size: 17px;
      opacity: .95; } }
  @media (max-width: 768px) {
    .leaderboard {
      top: 10vh;
      left: 10vw; } }
  @media (max-width: 500px) {
    .leaderboard {
      position: static;
      padding: 6px;
      margin: 208px auto 10px;
      min-width: 302px; } }

@media (max-width: 500px) {
  .table-row-1,
  .table-row-3 {
    max-width: 6px; } }

.leaderboard-page-header {
  background-image: url("../images/riddler-right-dark.jpg");
  background-position: top;
  margin: 0; }
  @media (max-width: 1024px) {
    .leaderboard-page-header {
      min-height: 1080px; } }
  @media (max-width: 768px) {
    .leaderboard-page-header {
      min-height: 780px; } }
  @media (max-width: 500px) {
    .leaderboard-page-header {
      background-position: 80%;
      min-height: 560px; } }
  @media (max-width: 320px) {
    .leaderboard-page-header {
      min-height: 492px; } }

th,
td {
  padding: 10px 30px; }
  @media (max-width: 500px) {
    th,
    td {
      padding: 4px 0; } }

@media (max-width: 500px) {
  th {
    font-size: 12px;
    max-width: 18px; } }

@media (max-width: 500px) {
  td {
    max-width: 18px; } }

@media (max-width: 500px) {
  tr {
    font-size: 12px; } }

tr:nth-of-type(1) {
  font-weight: bold;
  font-size: 28px; }
  @media (max-width: 768px) {
    tr:nth-of-type(1) {
      font-size: 17px; } }
  @media (max-width: 500px) {
    tr:nth-of-type(1) {
      font-size: 20px; } }

tr:nth-of-type(2) {
  font-weight: bold;
  font-size: 26px;
  color: #025804; }
  @media (max-width: 500px) {
    tr:nth-of-type(2) {
      font-size: 18px; } }

tr:nth-of-type(3) {
  font-weight: bold;
  font-size: 22px;
  color: #ff008b; }
  @media (max-width: 500px) {
    tr:nth-of-type(3) {
      font-size: 16px; } }

tr:nth-of-type(4) {
  font-weight: bold;
  font-size: 18px;
  color: #236ee2; }
  @media (max-width: 500px) {
    tr:nth-of-type(4) {
      font-size: 14px; } }

.riddle-area-header {
  margin-top: 30px;
  font-size: 30px; }
  @media (max-width: 500px) {
    .riddle-area-header {
      margin-top: 20px;
      font-size: 20px; } }

@media (max-width: 1024px) {
  .riddles-h1 {
    font-size: 50px; } }
@media (max-width: 320px) {
  .riddles-h1 {
    font-size: 36px; } }

.riddles-picture {
  background-image: url("../images/riddler-left-light.jpg");
  background-position: top;
  min-height: 770px;
  margin: 90px 0 0; }
  @media (max-width: 1024px) {
    .riddles-picture {
      min-height: 1090px; } }
  @media (max-width: 768px) {
    .riddles-picture {
      min-height: 826px;
      margin: 80px 0 0; } }
  @media (max-width: 500px) {
    .riddles-picture {
      background-position: 10%;
      min-height: 580px;
      margin: 75px 0 0; } }
  @media (max-width: 320px) {
    .riddles-picture {
      background-position: 12%;
      min-height: 492px; } }

.riddles-box {
  padding: 0 60px; }
  @media (max-width: 500px) {
    .riddles-box {
      padding: 0 20px; } }

.para-for-riddle {
  line-height: 35px;
  font-size: 22px;
  opacity: 0; }
  @media (max-width: 500px) {
    .para-for-riddle {
      line-height: 30px;
      font-size: 14px;
      margin: 10px auto; } }

.riddle-number {
  background-color: #025804;
  width: 300px;
  border-radius: 30px;
  margin: 30px auto;
  color: red;
  text-shadow: 2px 2px #000;
  font-weight: 600; }
  @media (max-width: 500px) {
    .riddle-number {
      width: 205px;
      margin: 18px auto; } }

.riddle-area {
  max-width: 45%;
  margin: 0;
  position: relative;
  border: 2px solid slategrey;
  top: 8vh;
  left: 50vw;
  background-color: #94396a;
  border-radius: 15px;
  z-index: 1;
  min-height: 400px;
  color: #fff; }
  @media (max-width: 1024px) {
    .riddle-area {
      max-width: 64%;
      left: 32vw;
      top: 16vh; } }
  @media (max-width: 768px) {
    .riddle-area {
      max-width: 78%;
      top: 7vh;
      left: 18vw; } }
  @media (max-width: 500px) {
    .riddle-area {
      max-width: 95%;
      margin: 150px auto;
      position: static;
      min-height: 370px;
      -webkit-box-shadow: 3px 10px 5px 0px rgba(0, 0, 0, 0.75);
      -moz-box-shadow: 3px 10px 5px 0px rgba(0, 0, 0, 0.75);
      box-shadow: 3px 10px 5px 0px rgba(0, 0, 0, 0.75); } }
  @media (max-width: 500px) {
    .riddle-area {
      max-width: 95%;
      margin: 100px auto; } }

.word-count {
  opacity: 0;
  font-size: 16px; }
  @media (max-width: 500px) {
    .word-count {
      font-size: 10px;
      margin: 14px auto 0; } }

.answer-box {
  margin: 30px;
  padding: 20px; }
  @media (max-width: 500px) {
    .answer-box {
      margin: 10px; } }

.results-box {
  max-width: 50%;
  position: absolute;
  border: 2px solid slategrey;
  top: 25%;
  left: 25%;
  background-color: #025804;
  border-radius: 15px;
  z-index: 2;
  padding: 30px;
  min-width: 50%;
  color: #fff; }
  @media (max-width: 768px) {
    .results-box {
      max-width: 56%; } }
  @media (max-width: 500px) {
    .results-box {
      max-width: 86%;
      margin: 0;
      padding: 20px;
      left: 0;
      right: 0;
      margin-left: auto;
      margin-right: auto; } }

.guesses-box {
  margin: 0 auto;
  min-width: 95%;
  background-color: #94396a;
  border-radius: 35px; }

.other-guesses {
  display: inline-block;
  margin: 0 15px;
  text-transform: capitalize;
  text-shadow: 2px 2px #000; }

.log-out-container {
  background-image: url("../images/riddler-lime-left.jpg");
  background-color: #bffa02;
  margin: 80px 0 0; }
  @media (max-width: 500px) {
    .log-out-container {
      margin: 75px 0 0;
      min-height: 600px; } }
  @media (max-width: 320px) {
    .log-out-container {
      min-height: 482px; } }

.log-out-text {
  font-weight: 700;
  font-size: 40px;
  position: relative;
  top: 10vh;
  left: 60vw;
  color: #fff;
  letter-spacing: 1px; }
  @media (max-width: 1024px) {
    .log-out-text {
      top: 56vh;
      left: 50vw; } }
  @media (max-width: 768px) {
    .log-out-text {
      position: static;
      margin: 82px;
      font-size: 38px; } }
  @media (max-width: 500px) {
    .log-out-text {
      margin: 20px;
      font-size: 30px; } }

.about-us-container {
  background-image: url(../images/riddler-right-white.jpg);
  background-color: #fff;
  background-size: cover;
  background-position: bottom;
  min-height: 1200px; }
  @media (max-width: 768px) {
    .about-us-container {
      min-height: 820px;
      margin: 80px 0 0;
      background-position: bottom; } }
  @media (max-width: 500px) {
    .about-us-container {
      min-height: 600px;
      margin: 75px 0 0; } }
  @media (max-width: 320px) {
    .about-us-container {
      min-height: 520px; } }

.about-us-text {
  font-size: 30px;
  position: relative;
  top: 5vh;
  left: 20vw;
  color: #000;
  letter-spacing: 0.5px; }
  @media (max-width: 1024px) {
    .about-us-text {
      top: 28vh;
      left: 16vw; } }
  @media (max-width: 768px) {
    .about-us-text {
      margin: 75px 65px 0;
      font-size: 26px;
      position: static;
      max-width: 500px; } }
  @media (max-width: 500px) {
    .about-us-text {
      max-width: 300px;
      margin: 40px 30px 0;
      font-size: 26px;
      position: static; } }

.flashed-message {
  background-color: #e5ef4d;
  color: red;
  font-size: 16px;
  padding: 15px;
  border-radius: 35px;
  margin: 20px 0; }
  @media (max-width: 500px) {
    .flashed-message {
      border-radius: 14px; } }

.enlarged-message-font {
  font-size: 22px;
  text-shadow: 1px 1px #000; }

.account-form-list li {
  padding: 0 0 20px 0; }

.account-form-list li label {
  display: inline-block;
  min-width: 190px; }

.congrats-container {
  margin: 90px 0 0;
  min-height: 785px;
  background-image: url("../images/riddler-winner.jpg");
  color: #fff; }
  @media (max-width: 1024px) {
    .congrats-container {
      min-height: 1300px; } }
  @media (max-width: 768px) {
    .congrats-container {
      margin: 80px 0 0;
      min-height: 890px; } }
  @media (max-width: 500px) {
    .congrats-container {
      margin: 76px 0 0;
      min-height: 550px; } }

.congrats-h2 {
  margin: 0;
  font-size: 50px; }
  @media (max-width: 500px) {
    .congrats-h2 {
      font-size: 24px; } }

.congrats-text-box {
  padding: 50px;
  margin: 100px auto 0;
  background-color: #000;
  opacity: .9;
  max-width: 50%; }
  @media (max-width: 1024px) {
    .congrats-text-box {
      margin: 225px auto 0; } }
  @media (max-width: 768px) {
    .congrats-text-box {
      margin: 100px auto 0;
      max-width: 80%; } }
  @media (max-width: 500px) {
    .congrats-text-box {
      padding: 20px;
      margin: 35px auto 0;
      max-width: 85%; } }

.congrats-para:nth-of-type(4) {
  font-size: 32px;
  color: #2e9eff; }
  @media (max-width: 500px) {
    .congrats-para:nth-of-type(4) {
      font-size: 20px; } }

html,
body {
  font-family: 'Roboto', sans-serif;
  padding: 0;
  margin: 0;
  width: 100%;
  background-color: #bffa02; }

a {
  text-decoration: none;
  color: #fff; }

a:visited {
  text-decoration: none; }

h1 {
  font-size: 80px;
  color: #ff008b;
  letter-spacing: 100px;
  text-indent: 100px;
  text-transform: uppercase;
  padding: 10px 0 20px;
  margin: 0;
  background-color: #025804;
  -webkit-box-shadow: inset 0px -4px 30px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: inset 0px -4px 30px 0px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0px -4px 30px 0px rgba(0, 0, 0, 0.2);
  text-shadow: 0 -1px 0 #fff, 0 1px 0 #2e2e2e, 0 2px 0 #2c2c2c, 0 3px 0 #2a2a2a, 0 4px 0 #282828, 0 5px 0 #262626, 0 6px 0 #242424, 0 7px 0 #222, 0 8px 0 #202020, 0 9px 0 #1e1e1e, 0 10px 0 #1c1c1c, 0 11px 0 #1a1a1a, 0 12px 0 #181818, 0 13px 0 #161616, 0 14px 0 #141414, 0 15px 0 #121212, 0 22px 30px rgba(0, 0, 0, 0.9); }
  @media (max-width: 768px) {
    h1 {
      font-size: 62px;
      letter-spacing: 18px;
      text-indent: 18px; } }
  @media (max-width: 500px) {
    h1 {
      font-size: 45px; } }

h2 {
  clear: both; }
  @media (max-width: 768px) {
    h2 {
      font-size: 28px; } }

h3 {
  font-size: 30px;
  margin: 0px;
  padding: 20px; }
  @media (max-width: 500px) {
    h3 {
      font-size: 20px;
      padding: 10px; } }

p {
  font-size: 20px;
  padding: 10px 0;
  font-family: 'Roboto Condensed', sans-serif; }
  @media (max-width: 768px) {
    p {
      font-size: 20px;
      padding: 6px; } }
  @media (max-width: 500px) {
    p {
      font-size: 14px; } }

i {
  margin: 0 15px 0 0; }

/*# sourceMappingURL=styles.css.map */
