// Navbar ----------------------------------------------------------------------
.main-nav {
    width: 100%;
    min-height: 90px;
    background-color: $riddler-purple;
    position: fixed;
    top: 0;
    @extend %nav-shadow;
    z-index: 100;

    @include tablet {
        min-height: 75px;
    }
}

.riddler-mark-logo-1,
.riddler-mark-logo-2,
.nav-title {
    clear: none;
    margin: 0;
    float: left;
    padding: 30px 10px;
    color: $white;
    text-shadow: 5px 5px $black;
}

.nav-title {
    @include large-tablet {
        font-size: 20px;
        padding: 33px 2px;
    }


    @include tablet {
        font-size: 26px;
        padding: 24px 0px;
    }

    @include large-mobile {
        font-size: 20px;
    }
}

.riddler-mark-logo-1,
.riddler-mark-logo-2 {
    width: 20px;
    padding: 28px 30px 19px;

    @include large-tablet {
        padding: 28px 20px 0;
    }
}

.riddler-mark-logo-1 {

    @include tablet {
        width: 24px;
        margin: 16px 22px;
        padding: 0;
    }

    @include large-mobile {
        width: 22px;
    }
}

.riddler-mark-logo-2 {
    @include tablet {
        display: none;
    }
}

.fa-chevron-circle-down {
    display: none;

    @include tablet {
        transition-property: color;
        transition-duration: 1s;
        display: block;
        float: right;
        font-size: 30px;
        margin: 25px;
        color: $white;
    }

    @include large-mobile {
        font-size: 18px;
        padding: 3px 0 0;
    }
}

ul {
    float: right;
    margin: 0;
    list-style: none;
    padding: 0;

    @include tablet {
        float: none;
        width: 100%;
        clear: both;
        display: none;
    }
}

nav ul li {
    float: left;
    padding: 35px 15px;
    margin: 0 10px;
    text-decoration: none;
    color: $white;

    @include large-tablet {
        font-size: 14px;
        padding: 36px 8px;
    }

    @include tablet {
        font-size: 20px;
        float: none;
        padding: 23px 0;
        margin: 0;
        border-top: 1px solid $border-blue;
    }

    @include large-mobile {
        font-size: 15px;
    }
}

nav ul li:nth-of-type(odd) {

    @include tablet {
        background-color: $riddler-green;
    }
}

li i {

    @include tablet {
        margin: 0 40px;
    }
}

li a {
    text-decoration: none;
    color: $white;

    @include tablet {
        margin: 0 0 0 40px;
    }

    @include large-mobile {
        margin: 0 0 0 10px;
    }
}

.test {
    color: $riddler-lime-green;
}

// Footer ----------------------------------------------------------------------
footer {
    background-color: $riddler-purple;
    margin: 0;
    padding: 10px 0;
    color: $white;
}
