button:focus {
    outline: 0;
}

.results-box-button {
    display: block;
    clear: both;
    margin: 20px auto;
}

.riddle-link-btn {
    width: 225px;
    padding: 20px;
    border-radius: 50px;
    font-size: 20px;
    background-color: $riddler-deeper-purple;
    margin: 20px;
    color: $white;

    @include large-mobile {
        width: 168px;
        padding: 14px;
        font-size: 16px;
    }
}

.riddle-link-btn a {
    color: $white;
}

.continue-btn {
    margin: 22px 0 0;
}
