// Index.html ------------------------------------------------------------------
.page-header {
    background-image: url("../images/riddler-mask.jpg");
    @extend %cover-background;
    min-height: 720px;
    margin: 75px 0 0;

    @include large-tablet {
        min-height: 1000px;
    }

    @include tablet {
        min-height: 766px;
    }

    @include large-mobile {
        min-height: 458px;
    }

    @include mobile {
        min-height: 410px;
    }
}

.welcome-h2 {
    color: $white;
    position: relative;
    top: 10vh;
    font-size: 50px;
    letter-spacing: 8px;
    text-shadow: 6px 6px $black;
    margin: 0;

    @include large-tablet {
        font-size: 60px;
        margin: 0 auto;
        max-width: 650px;
    }

    @include tablet {
        font-size: 50px;
        margin: 0 140px;
    }

    @include large-mobile {
        margin: 0 30px;
        font-size: 30px;
        letter-spacing: 4px;
    }

    @include mobile {
        margin: 0;
    }
}

.welcome-text {
    max-width: 442px;
    position: relative;
    top: 14vh;
    left: 55vw;

    @include large-tablet {
        left: 48vw;
        top: 18vh;
    }

    @include tablet {
        left: 38vw;
    }

    @include large-mobile {
        position: static;
        margin-left: 34%;
        max-width: 216px;
        padding-top: 60px;
    }

    @include mobile {
        margin-left: 84px;
    }
}

.introduction {
    background-image: url("../images/riddler.jpg");
    @extend %cover-background;
    min-height: 750px;

    @include large-tablet {
        min-height: 900px;
    }

    @include large-mobile {
        background-position: 52%;
        min-height: 500px;
    }

    @include mobile {
        background-position: 48%;
    }
}

// Login / sign up.html --------------------------------------------------------
.form-container {
    position: relative;
    top: 22vh;
    left: 25vw;
    color: $white;
    max-width: 800px;

    @include large-tablet {
        left: 14vw;
    }

    @include tablet {
        margin: 75px 70px 0;
        padding-top: 40px;
        position: static;
    }

    @include large-mobile {
        margin: 75px 20px 0;
    }
}

li input {
    @include large-tablet {
        font-size: 20px;
        padding: 4px 16px;    
    }
}

.sign-up-para,
.login-para {
    font-size: 16px;
    padding: 0;

    @include tablet {
        font-size: 20px;
        padding: 6px;
    }
}

.log-out-container,
.account,
.sign-up,
.log-in {
    min-height: 850px;
    background-image: url("../images/riddler-right.jpg");
    @extend %contain-background;
    background-color: $riddler-bright-green;

    @include large-tablet {
        min-height: 1300px;
    }

    @include tablet {
        background-size: contain;
        background-position: bottom;
        min-height: 930px;
    }

    @include large-mobile {
        min-height: 675px;
    }

    @include mobile {
        min-height: 655px;
    }
}

.login-form {
    margin: 200px 0 0;

    @include large-mobile {
        margin: 50px 0 0;
    }
}

.login-row {
    @include tablet {
        display: block;
        margin: 15px 0;
    }
}

.sign-up-form {
    margin: 90px 0 0;

    @include large-mobile {
        margin: 50px 0 0;
    }
}

.login-form label {
    display: inline-block;
    min-width: 100px;
    margin: 0 0 15px;
}

.account-form-list,
.sign-up-form-list {
    padding: 0;
    margin: 0;
    float: none;

    @include tablet {
        display: block;
    }
}

.sign-up-form-list li {
    padding: 0 0 20px 0;
}

.sign-up-form-list li:nth-of-type(1) label {
    margin: 0 50px 0 0;
}

.sign-up-form-list li:nth-of-type(2) label {
    margin: 0 80px 0 0;
}

.sign-up-form-list li:nth-of-type(3) label {
    margin: 0 20px 0 0;
}

// Leaderboard.html ------------------------------------------------------------
.leaderboard-header {
    font-size: 60px;
    letter-spacing: 70px;
    text-indent: 70px;
    padding: 110px 0 30px;

    @include large-tablet {
        font-size: 40px;
        letter-spacing: 32px;
        text-indent: 32px;
    }

    @include large-mobile {
        font-size: 26px;
        letter-spacing: 6px;
        text-indent: 6px;
    }
}

.leaderboard {
    position: relative;
    top: 10vh;
    left: 10vw;
    background-color: $white;
    padding: 30px;
    border-radius: 15px;
    min-height: 300px;
    min-width: 500px;
    margin: 0;

    @include large-tablet {
        top: 18vh;
        left: 7vw;
        font-size: 17px;
        opacity: .95;
    }

    @include tablet {
        top: 10vh;
        left: 10vw;
    }

    @include large-mobile {
        position: static;
        padding: 6px;
        margin: 208px auto 10px;
        min-width: 302px;
    }
}

.table-row-1,
.table-row-3 {
    @include large-mobile {
        max-width: 6px;
    }
}

.leaderboard-page-header {
    background-image: url("../images/riddler-right-dark.jpg");
    background-position: top;
    margin: 0;

    @include large-tablet {
        min-height: 1080px;
    }
    
    @include tablet {
        min-height: 780px;
    }

    @include large-mobile {
        background-position: 80%;
        min-height: 560px;
    }
    
    @include mobile {
        min-height: 492px;
    }
}

th,
td {
    padding: 10px 30px;

    @include large-mobile {
        padding: 4px 0;
    }
}

th {
    @include large-mobile {
        font-size: 12px;
        max-width: 18px;
    }
}

td {
    @include large-mobile {
        max-width: 18px;
    }
}

tr {
    @include large-mobile {
        font-size: 12px;
    }
}

tr:nth-of-type(1) {
    font-weight: bold;
    font-size: 28px;

    @include tablet {
        font-size: 17px;
    }

    @include large-mobile {
        font-size: 20px;
    }
}

tr:nth-of-type(2) {
    font-weight: bold;
    font-size: 26px;
    color: $riddler-green;

    @include large-mobile {
        font-size: 18px;
    }
}

tr:nth-of-type(3) {
    font-weight: bold;
    font-size: 22px;
    color: $riddler-pink;

    @include large-mobile {
        font-size: 16px;
    }
}

tr:nth-of-type(4) {
    font-weight: bold;
    font-size: 18px;
    color: $riddler-blue;

    @include large-mobile {
        font-size: 14px;
    }
}


// Riddles.html ----------------------------------------------------------------
.riddle-area-header {
    margin-top: 30px;
    font-size: 30px;

    @include large-mobile {
        margin-top: 20px;
        font-size: 20px;
    }
}

.riddles-h1 {
    @include large-tablet {
        font-size: 50px;
    }
    
    @include mobile {
        font-size: 36px;
    }
}

.riddles-picture {
    background-image: url("../images/riddler-left-light.jpg");
    background-position: top;
    min-height: 770px;
    margin: 90px 0 0;

    @include large-tablet {
        min-height: 1090px;
    }

    @include tablet {
        min-height: 826px;
        margin: 80px 0 0;
    }

    @include large-mobile {
        background-position: 10%;
        min-height: 580px;
        margin: 75px 0 0;
    }

    @include mobile {
        background-position: 12%;
        min-height: 492px;
    }
}

.riddles-box {
    padding: 0 60px;

    @include large-mobile {
        padding: 0 20px;
    }
}

.para-for-riddle {
    line-height: 35px;
    font-size: 22px;
    opacity: 0;

    @include large-mobile {
        line-height: 30px;
        font-size: 14px;
        margin: 10px auto;
    }
}

.riddle-number {
    background-color: $riddler-green;
    width: 300px;
    border-radius: 30px;
    margin: 30px auto;
    color: red;
    text-shadow: 2px 2px $black;
    font-weight: 600;
    @extend %number-shadow;

    @include large-mobile {
        width: 205px;
        margin: 18px auto;
    }
}

.riddle-area {
    max-width: 45%;
    margin: 0;
    position: relative;
    border: 2px solid slategrey;
    top: 8vh;
    left: 50vw;
    background-color: $riddler-purple;
    border-radius: 15px;
    z-index: 1;
    min-height: 400px;
    color: $white;
    @extend %box-shadow-large;

    @include large-tablet {
        max-width: 64%;
        left: 32vw;
        top: 16vh;
    }

    @include tablet {
        max-width: 78%;
        top: 7vh;
        left: 18vw;
    }

    @include large-mobile {
        max-width: 95%;
        margin: 150px auto;
        position: static;
        min-height: 370px;
        -webkit-box-shadow: 3px 10px 5px 0px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: 3px 10px 5px 0px rgba(0, 0, 0, 0.75);
        box-shadow: 3px 10px 5px 0px rgba(0, 0, 0, 0.75);
    }

    @include large-mobile {
        max-width: 95%;
        margin: 100px auto;
    }

}

.word-count {
    opacity: 0;
    font-size: 16px;

    @include large-mobile {
        font-size: 10px;
        margin: 14px auto 0;
    }
}

.answer-box {
    margin: 30px;
    padding: 20px;

    @include large-mobile {
        margin: 10px;
    }
}

.results-box {
    max-width: 50%;
    position: absolute;
    border: 2px solid slategrey;
    top: 25%;
    left: 25%;
    background-color: $riddler-green;
    border-radius: 15px;
    z-index: 2;
    padding: 30px;
    min-width: 50%;
    @extend %box-shadow-large;
    color: $white;

    @include tablet {
        max-width: 56%;
    }

    @include large-mobile {
        max-width: 86%;
        margin: 0;
        padding: 20px;
        left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto;
    }
}

.guesses-box {
    margin: 0 auto;
    min-width: 95%;
    background-color: $riddler-purple;
    border-radius: 35px;
}

.other-guesses {
    display: inline-block;
    margin: 0 15px;
    text-transform: capitalize;
    text-shadow: 2px 2px $black;
}

// logout.html -----------------------------------------------------------------
.log-out-container {
    background-image: url("../images/riddler-lime-left.jpg");
    background-color: $riddler-lime-green;
    margin: 80px 0 0;

    @include large-mobile {
        margin: 75px 0 0;
        min-height: 600px;
    }

    @include mobile {
        min-height: 482px;
    }
}

.log-out-text {
    font-weight: 700;
    font-size: 40px;
    position: relative;
    top: 10vh;
    left: 60vw;
    color: $white;
    letter-spacing: 1px;

    @include large-tablet {
        top: 56vh;
        left: 50vw;        
    }

    @include tablet {
        position: static;
        margin: 82px;
        font-size: 38px;
    }

    @include large-mobile {
        margin: 20px;
        font-size: 30px;
    }
}

// Aboutus.html ----------------------------------------------------------------
.about-us-container {
    background-image: url(../images/riddler-right-white.jpg);
    background-color: $white;
    background-size: cover;
    background-position: bottom;
    min-height: 1200px;

    @include tablet {
        min-height: 820px;
        margin: 80px 0 0;
        background-position: bottom;
    }

    @include large-mobile {
        min-height: 600px;
        margin: 75px 0 0;
    }

    @include mobile {
        min-height: 520px;
    }
}

.about-us-text {
    font-size: 30px;
    position: relative;
    top: 5vh;
    left: 20vw;
    color: $black;
    letter-spacing: 0.5px;

    @include large-tablet {
        top: 28vh;
        left: 16vw;
    }

    @include tablet {
        margin: 75px 65px 0;
        font-size: 26px;
        position: static;
        max-width: 500px;
    }

    @include large-mobile {
        max-width: 300px;
        margin: 40px 30px 0;
        font-size: 26px;
        position: static;
    }
}

.flashed-message {
    background-color: $flash-custard-yellow;
    color: red;
    font-size: 16px;
    padding: 15px;
    border-radius: 35px;
    margin: 20px 0;

    @include large-mobile {
        border-radius: 14px;
    }
}

.enlarged-message-font {
    font-size: 22px;
    text-shadow: 1px 1px $black;
}

// Account.html ----------------------------------------------------------------
.account-form-list li {
    padding: 0 0 20px 0;
}

.account-form-list li label {
    display: inline-block;
    min-width: 190px;
}

// Congratulations.html --------------------------------------------------------
.congrats-container {
    margin: 90px 0 0;
    min-height: 785px;
    background-image: url("../images/riddler-winner.jpg");
    @extend %cover-background;
    color: $white;

    @include large-tablet {
        min-height: 1300px;
    }

    @include tablet {
        margin: 80px 0 0;
        min-height: 890px;
    }

    @include large-mobile {
        margin: 76px 0 0;
        min-height: 550px;
    }
}

.congrats-h2 {
    margin: 0;
    font-size: 50px;

    @include large-mobile {
        font-size: 24px;
    }
}

.congrats-text-box {
    padding: 50px;
    margin: 100px auto 0;
    background-color: $black;
    opacity: .9;
    max-width: 50%;

    @include large-tablet {
        margin: 225px auto 0;
    }

    @include tablet {
        margin: 100px auto 0;
        max-width: 80%;
    }

    @include large-mobile {
        padding: 20px;
        margin: 35px auto 0;
        max-width: 85%;
    }
}

.congrats-para:nth-of-type(4) {
    font-size: 32px;
    color: $winner-text-blue;

    @include large-mobile {
        font-size: 20px;
    }
}
