{% extends 'base.html' %} {% block content %}


<h2>{{ page_title }}</h2>

{% if username == "guest" %}
<h3>Welcome dear friend!  You don't appear to have logged in as yet.</h3>
<p>If you have an account then please do so now...</p>
<button>Here</button>
<p>Alternatively please create an acount here...</p>
<button>There</button>

{%else%}

{% with messages = get_flashed_messages() %} 
{% if messages %} 
{% for message in messages %}
<p class="flashed-message">
    {{ message }}
</p>
{% endfor %} 
{% else %}


<p>Please add more of your details, your chosen username will show up on the leaderboard if you complete it!</p>

<form method="POST">
    <label for="username">Choose a Username</label>
    <input required type="text" name="username" value={% for user in user_data %}
    {% if user["email"] == username %} 
    "{{ user['username'] }}"
    {% endif %}
    {% endfor %}/>

    <label for="password">Password</label>
    <input required type="password" name="password" value={% for user in user_data %}
    {% if user["email"] == username %} 
    "{{ user['password'] }}"
    {% endif %}
    {% endfor %}/>

    <label for="firstname">First Name</label>
    <input required type="text" name="firstname" value={% for user in user_data %}
    {% if user["email"] == username %} 
    "{{ user['firstname'] }}"
    {% endif %}
    {% endfor %}/>

    <label for="surname">Surname</label>
    <input required type="text" name="surname" value={% for user in user_data %}
    {% if user["email"] == username %} 
    "{{ user['surname'] }}"
    {% endif %}
    {% endfor %}/>

    <label for="email">Email Address</label>
    <input required type="email" name="email" value={% for user in user_data %}
    {% if user["email"] == username %} 
    "{{ user['email'] }}"
    {% endif %}
    {% endfor %}/>

    <input type="submit" value="Update" />
    
</form>
{% endif %} 
{% endwith %} 
{% endif %} 
{% endblock %}
