{% extends 'base.html' %} {% block content %}


<h2>{{ page_title }}</h2>

{% if username == "guest" %}
<h3>Welcome dear friend!  You don't appear to have logged in as yet.</h3>
<p>If you have an account then please do so now...</p>
<button>Here</button>
<p>Alternatively please create an acount here...</p>
<button>There</button>

{%else%}

{% with messages = get_flashed_messages() %} 
{% if messages %} 
{% for message in messages %}
<p class="flashed-message">
    {{ message }}
</p>
{% endfor %} 
{% else %}


<p>Please add more of your details, your chosen username will show up on the leaderboard if you complete it!</p>

<form method="POST">
    <label for="username">Choose a Username</label>
    <input type="text" name="username" />

    <label for="password">Password</label>
    <input type="text" name="password" />

    <label for="firstname">First Name</label>
    <input type="text" name="firstname" />

    <label for="surname">Surname</label>
    <input type="text" name="surname" />

    <label for="email">Email Address</label>
    <input type="text" name="email" />

    <input type="submit" value="Submit" />
</form>
{% endif %} 
{% endwith %} 
{% endif %} 
{% endblock %}
