{% extends 'base.html' %} {% block content %}
<div class="account">
    <div class="form-container">
        <h2>{{ page_title }}</h2>

        <p>Please add more of your details, your chosen username will show up on the leaderboard if you complete it!</p>

        <form class="no-overflow" method="POST">
            <ul class="account-form-list">
                <li>
                    <label for="username">Choose a Username</label>
                    <input id="username" required maxlength="15" type="text" name="username" value="{{ this_user['username'] }}"/>
                </li>
                <li>
                    <label for="password">Password</label>
                    <input id="password" required minlength="5" type="password" name="password" value="{{ this_user['password'] }}"/>
                </li>
                <li>
                    <label for="firstname">First Name</label>
                    <input id="firstname" required type="text" name="firstname" value="{{ this_user['firstname'] }}"/>
                </li>
                <li>
                    <label for="surname">Surname</label>
                    <input id="surname" required type="text" name="surname" value="{{ this_user['surname'] }}"/>
                </li>
                <li>
                    <input type="submit" value="Update" />
                </li>
            </ul>
            {% with messages = get_flashed_messages() %} {% if messages %} {% for message in messages %}
            <p class="flashed-message centered">
                {{ message }}
            </p>
            {% endfor %} {% endif %} {% endwith %}
        </form>
    </div>
</div>
{% endblock %}
