<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Hey Riddle Diddle</title>
    
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    
</head>

<body>
    <nav class="main-nav">
        <a class="nav-logo" href="{{ url_for('index') }}"> 
            <img class="riddler-mark-logo" src="{{ url_for('static', filename='images/riddler-mark.png') }}">
            <h2 class="nav-title grow">Hey Riddle Diddle</h2>
            <img class="riddler-mark-logo" src="{{ url_for('static', filename='images/riddler-mark.png') }}">
        </a>
        <ul>
            <li class="grow"><a href="{{ url_for('index') }}">Home</a></li>
            
            {% if username == "guest" %}
            <li class="grow"><a href="{{ url_for('log_in') }}">Log In</a></li>
            <li class="grow"><a href="{{ url_for('sign_up') }}">Sign Up</a></li>
            {% endif %}
            <li class="grow"><a href="{{ url_for('riddles', username = username) }}">Riddles</a></li>
            <li class="grow"><a href="{{ url_for('leaderboard') }}">Leaderboard</a></li>
            {% if username != "guest" %}
            <li class="grow"><a href="{{ url_for('account', username = username) }}">User:  {{ username }}</a></li>
            <li class="grow"><a href="{{ url_for('logout') }}">Logout</a></li>
            {% endif %}
        </ul>
    </nav>
{% block content %}{% endblock %}
    <footer class="no-overflow">
        <h3 class="centered grow"><a href="{{ url_for('about_us') }}">About Us</a></h3>
    </footer>
</body>
</html>
