<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Hey Riddle Diddle</title>
    
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    
</head>

<body>
    <nav>
        <div class="logo"></div>
        <h1 class="title">Hey Riddle Diddle</h1>
        <ul>
            <li><a href="{{ url_for('index') }}">Home</a></li>
            
            {% if username == "guest" %}
            <li><a href="{{ url_for('log_in') }}">Log In</a></li>
            <li><a href="{{ url_for('sign_up') }}">Sign Up</a></li>
            {% endif %}
            <li><a href="{{ url_for('riddles', username = username) }}">Riddles</a></li>
            <li><a href="{{ url_for('leaderboard') }}">Leaderboard</a></li>
            {% if username != "guest" %}
            <li><a href="{{ url_for('account', username = username) }}">User:  {{ username }}</a></li>
            <li><a href="{{ url_for('logout') }}">Logout</a></li>
            {% endif %}
        </ul>
    </nav>

    {% block content %} 
    {% endblock %}


    <footer>
        <h3>By Giancarlo Fiorletta</h3>
    </footer>
    <script>
        setTimeout(function() {
            location.reload();
        }, 10000);
    </script>
</body>

</html>
