{% extends 'base.html' %}{% block content %}

<section class="congrats-container centered">
    <h1 class="congrats-header">Winner</h1>
    <div class="congrats-text-box">
            <h2 class="congrats-h2">Congratulations {{ username }}!</h2>

            <p class="congrats-para">You have solved all of the riddles currently available!</p>
            <p class="congrats-para">I don't care what they say about you, you are one smart Panda.</p>
            <p class="congrats-para">Either that or you have way too much time on your hands, ahem.</p>
            <p class="congrats-para">Thanks for playing! Hope to see you again.</p>
    </div>
</section>
{% endblock %}
