<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Riddle Diddle</title>
</head>
<body>
    <nav>
        <div class="logo"></div>
        <h1 class="title"></h1>
        <ul>
            <li>Log In</li>
            <li>Home</li>
            <li>Riddles</li>
            <li>Leaderboard</li>
        </ul>
    </nav>
    <section class="welcome-box">
        <h2>Welcome</h2>
        <p>Who doesn't like a good riddle every once in a while?!</p>
        <p>Test your skills and see if you can top the leaderboard like the Riddler himself!</p>
    </section>
    <section class="riddles-box">
        
    </section>
    <section class="guess-box">
        <form>
            <input type="text" name=""/>
            <input type="submit" value="Submit"/>
        </form>
    </section>
    <footer>
        
    </footer>
</body>
</html>