{% extends 'base.html' %} {% block content %}
<section class="welcome-box centered no-overflow">
    <div class="page-header">
        <h2 class="welcome-h2 color-change-and-shrink">Welcome to Hey Riddle Diddle</h2>
    </div>
    {% if username != "guest" %}
    <h1 id="home-header">{{ page_title }}</h1>
    {% else %}
    <h1>{{ page_title }}</h1>
    {% endif %}
    <div class="introduction">
        <div class="welcome-text">
            {% if username != "guest" %}
            <h3 id="welcome-user">Welcome back {{ username.lower() }}!</h3>
            {% else %}
            <h3>Welcome to Hey Riddle Diddle!!!</h3>
            <p>A website for all your riddling needs.<br><a class="accentuated-links" href="{{ url_for('sign_up') }}"><strong>Sign up</strong></a> or <a class="accentuated-links" href="{{ url_for('log_in') }}"><strong>Log in</strong></a> now!</p>
            {% endif %}
            <p>Who doesn't like a good riddle every once in a while?!</p>
            <p>Test your skills and see if you can top the leaderboard like the Riddler himself!</p>
            <a href="{{ url_for('riddles', username = username) }}"><button class="riddle-link-btn grow">Let's riddle</button></a>
        </div>
    </div>
</section>
{% endblock %}
