{% extends 'base.html' %}
{% block content %}


<h2>{{ page_title }}</h2>

{% with messages = get_flashed_messages() %} 
{% if messages %} 
{% for message in messages %}
<p class="flashed-message">
    {{ message }}
</p>
{% endfor %} 

{% endif %} 
{% endwith %} 

    <form method="POST">
        <label for="email">Email</label>
        <input type="text" name="email" required/>
        
        <label for="password">Password</label>
        <input type="text" name="password" required/>
        
        <input type="submit" value="Submit" />
    </form>

{% endblock %}