{% extends 'base.html' %} {% block content %}


<h2>{{ page_title }}</h2>

{% with messages = get_flashed_messages() %} 
{% if messages %} 
{% for message in messages %}
<p class="flashed-message">
    {{ message }}
</p>
{% endfor %} 
{% endif %} 
{% endwith %} 



<section class="riddles-box">
    <p>{{ riddles_data[riddle_index]["riddle"] }}</p>
</section>

<hr>

<section class="guess-box">
    <p>What is your answer?</p>

    <form method="POST">
        <input type="text" name="guess-entry" required/>
        <input type="submit" value="Submit" />
    </form>
</section>


<p>{{ current_riddle }}</p> 

<hr>

<section class="feedback-box">
    <p>I am your feedback</p>

    <table>
        <tr>
            <th>User Name</th>
            <th>Their guess...</th>
        </tr>
        {% for data in guesses %}
        <tr>
            <td>
                <!-- Insert data for username -->
            </td>
            <td>
                <!-- Insert data for their guess -->
            </td>
        </tr>
        {% endfor %}
    </table>

</section>

{% endblock %}
