{% extends 'base.html' %} {% block content %}


<h2>{{ page_title }}</h2>



{% with messages = get_flashed_messages() %} 
{% if messages %} 
{% for message in messages %}
<p class="flashed-message">
    {{ message }}
</p>
<p>Log in now and start playing!  <a href="{{ url_for('log_in') }}">Log In</a></p> 
{% endfor %} 
{% else %}

<form method="POST">
    <label for="email">Email Address</label>
    <input type="text" name="email" />

    <label for="password">Password</label>
    <input type="text" name="password" />

    <label for="confirm-password">Confirm Password</label>
    <input type="text" name="confirm-password" />

    <input type="submit" value="Submit" />
</form>
{% endif %} 
{% endwith %} 
{% endblock %}
