{% extends 'base.html' %} {% block content %}


<h2>{{ page_title }}</h2>



{% with messages = get_flashed_messages() %} 
{% if messages %} 
{% for message in messages %}
<p class="flashed-message">
    {{ message }}
</p>
<p>Log in now and start playing!  <a href="{{ url_for('log_in') }}">Log In</a></p> 
{% endfor %} 
{% else %}

<form method="POST">
    <label for="email">Email Address</label>
    <input type="email" name="email" required/>

    <label for="pwd1">Password</label>
    <input type="password" name="pwd1" minlength="5" required/>

    <label for="pwd2">Confirm Password</label>
    <input type="password" name="pwd2" required/>

    <input type="submit" value="Submit" />
</form>
{% endif %} 
{% endwith %} 
{% endblock %}
