{% extends 'base.html' %} {% block content %}
<section class="sign-up">
    <div class="form-container">

        <h2>{{ page_title }}</h2>

        <p class="sign-up-para">Want to appear on that leaderboard? Well there's only one way to do it.</p>
        <p class="sign-up-para">Sign up now and then get to work!</p>

        <form class="sign-up-form no-overflow" method="POST">
            <ul class="sign-up-form-list">
                <li>
                    <label for="email">Email Address</label>
                    <input type="email" name="email" required/>
                </li>
                <li>
                    <label for="pwd1">Password</label>
                    <input type="password" name="pwd1" minlength="5" required/>        
                </li>
                <li>
                    <label for="pwd2">Confirm Password</label>
                    <input type="password" name="pwd2" required/>        
                </li>
                <li>
                    <input type="submit" value="Submit" />        
                </li>
            </ul>
            {% with messages = get_flashed_messages() %} {% if messages %} {% for message in messages %}
            <p class="flashed-message centered">
                {{ message }}
            </p>
            {% endfor %}{% endif %} {% endwith %}
        </form>
    </div>
</section>{% endblock %}
